---
import { Image } from "astro:assets";
import Layout from "../../../layouts/Menus.astro";
import RestaurantLayout from "../../../layouts/RestaurantLayout.astro";
import coffe from "./coffe.jpg";
import { Coffee, Heart, Star } from 'lucide-react'

import coffe1 from "./media/coffe1.jpg";
import coffe2 from "./media/coffe2.jpg";
import coffe3 from "./media/coffe3.jpg";
import coffe4 from "./media/coffe4.jpg";
import coffe5 from "./media/coffe5.jpg";

const params = Astro;
console.log(params);
const data = {
  name: "AlchemistCoffeLab",
};
const menu = [
  {
    title: "BEBIDAS CLÁSICAS",
    items: [
      { name: "Americano 16oz", precio: 55 },
      { name: "Flat White 8oz", precio: 58 },
      { name: "Cappuccino 10oz", precio: 58, nota: "Con Esencia + $10" },
      {
        name: "Latte Caliente 12oz",
        precio: 60,
        nota: "16oz + $10 / Con Esencia + $10",
      },
      {
        name: "Latte Helado 12oz",
        precio: 65,
        nota: "16oz + $10 / Con Esencia + $10",
      },
      { name: "Café de Olla 16oz", precio: 65 },
      { name: "Espresso 40ml", precio: 45 },
      {
        name: "Espresso Phoenix Down",
        precio: 60,
        nota: "50 ml (servido en matraz) Espresso + lechera",
      },
      { name: "Espresso Macchiato 45ml", precio: 55, nota: "Con leche" },
      {
        name: "Affogato",
        precio: 65,
        nota: "Espresso doble con nieve de vainilla",
      },
      {
        name: "Espresso Tonic",
        precio: 70,
        nota: "Espresso o Cold Brew/Con esencia +$10",
      },
    ],
  },
  {
    title: "BARRA DE BEBIDAS",
    items: [
      { name: "Matcha", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Red Velvet", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Vainilla Chai", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Chocolate Artesanal", precio: { "12oz": 75, "16oz": 85 } },
      { name: "Chocolate a la Cereza", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Taro", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Latte Frappe", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Coffee Caramel", precio: { "12oz": 65, "16oz": 75 } },
      { name: "Mocha Oreo", precio: { "12oz": 70, "16oz": 80 } },
      {
        name: "Mocha",
        precio: { "12oz": 65, "16oz": 75 },
        nota: "Chocolate Oscuro o Blanco",
      },
      {
        name: "Malteada",
        precio: 90,
        nota: "Nutella, Oreo, Chocolate, Fresa, Vainilla",
      },
      {
        name: "Soda Italiana",
        precio: 60,
        nota: "Blue Curacao, Blueberry, Cereza, Fresa, Maracuya, Mango, Manzana Verde",
      },
      {
        name: "Limonada 5HT + Jarabe",
        precio: { "12oz": 60, "16oz": 70 },
        nota: "Frappé de lima con jarabe",
      },
      { name: "Limonada Natural/Mineral 500ml", precio: 55 },
      {
        name: "Suero de Fresa",
        precio: 65,
        nota: "Agua Mineral con pulpa de fresa y limón natural",
      },
      { name: "Agua Mineral 355ml", precio: 35 },
      { name: "Coca Cola 355ml Regular/Sin azúcar", precio: 35 },
    ],
  },
  {
    title: "TÉS Y TISANAS",
    items: [
      {
        name: "Tisana frutal",
        precio: { "12oz": 65, "16oz": 70 },
        nota: "Caliente, frappé o en las rocas",
      },
      { name: "Té herbal", precio: 55, nota: "Té verde, Té negro, Té rojo" },
    ],
  },
  {
    title: "ESENCIAS",
    items: [
      { name: "Menta", precio: null },
      { name: "Avellanas", precio: null },
      { name: "Crema Irlandesa", precio: null },
      { name: "Peanut butter", precio: null },
      { name: "Vainilla Francesa", precio: null },
    ],
  },
  {
    title: "EXTRAS",
    items: [
      { name: "Esencias", precio: 10 },
      { name: "Shot Extra de Café", precio: 12 },
      { name: "Leche de Almendras/Soya", precio: 12 },
      { name: "Leche de Avena", precio: 15 },
    ],
  },
];

const featuredItems = [
  {
    name: "Whipped Mocha Dream",
    description: "Espresso con crema de chocolate",
    price: "$5.50",
    image: coffe1
  },
  {
    name: "Holiday Hot Chocolate - Chocolate con crema de chocolate",
    description: "Chocolate con crema de chocolate",
    price: "$4.95",
    image: coffe2
  },
  {   
    name: "Hot Cake",
    description: "Un balance perfecto de café con café de olla y café de leche",
    price: "$4.50",
    image: coffe3
  },
  {
    name: "Hot Cake",
    description: "Latte con crema de chocolate",
    price: "$5.95",
    image: coffe4
  }
]
---

<RestaurantLayout title="AlchemistCoffeLab Cafetería de Especialidad" description="AlchemistCoffeLab Cafetería de Especialidad">
  <main>
    <section class="">
      <div
        class="relative min-h-screen flex items-center justify-center overflow-hidden"
      >
        <div class="absolute inset-0 z-0">
          <Image
            src={coffe}
            alt="Cafetería de Especialidad"
            width={1920}
            height={1080}
            class="object-cover w-full h-full brightness-50 rounded-lg shadow-lg"
          />
        </div>

        <div class="relative z-10 text-center text-white px-4">
          <h1 class="font-serif text-5xl md:text-7xl mb-6">
            Cafetería de Especialidad
          </h1>
          <p class="text-xl md:text-2xl mb-8 max-w-2xl mx-auto">
            Experimenta el arte de café en cada taza.
          </p>
          <button class="bg-white text-gray-900 hover:bg-gray-100 p-4">
            Explore Nuestro Menú
          </button>
        </div>
      </div>
    </section>
    <section id="menu" class="py-20 bg-gray-50">
      <div class="container mx-auto px-4">
        <h2 class="font-serif text-4xl text-center mb-12">Platillos populares</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 ">
          {featuredItems.map((item, index) => (
            <div class="overflow-hidden hover:shadow-lg transition-shadow ">
              <div class="aspect-square relative">
                <Image
                  src={item.image}
                  alt={item.name}
                  class="object-cover w-full h-full"
                />
              </div>
              <div class="p-6">
                <h3 class="font-serif text-xl mb-2">{item.name}</h3>
                <p class="text-gray-600 mb-4">{item.description}</p>
                <p class="text-lg font-semibold">{item.price}</p>
              </div>
            </div>
          ))}
        </div>
      </div>
    </section>
    <section class="bg-black text-white py-20 sticky top-0 lg:top-10 z-10">
      <div class="container mx-auto px-6">
        <h1 class="text-4xl font-bold text-center py-4">{data.name}</h1>
        <div class="grid gap-6 grid-cols-1 lg:grid-cols-2">
          {
            menu.map((section, sectionIndex) => (
              <div class="space-y-4">
                <div class="text-2xl font-bold font-serif">{section.title}</div>
                <div class="space-y-4">
                  {section.items?.map((item, itemIndex) => (
                    <div class="flex justify-between">
                      <div>
                        <h4 class="font-semibold">{item?.name}</h4>
                        {item?.nota && <p>{item.nota}</p>}
                      </div>
                      <div class="flex gap-4">
                        {item?.precio && typeof item.precio === "object" ? (
                          Object.entries(item.precio).map(([size, price]) => (
                            <div>{price}</div>
                          ))
                        ) : (
                          <div>{item?.precio}</div>
                        )}
                      </div>
                    </div>
                  ))}
                </div>
              </div>
            ))
          }
        </div>
      </div>
  </main>
  <section id="about" class="py-20 bg-white">
    <div class="container mx-auto px-4">
      <div class="max-w-3xl mx-auto text-center">
        <h2 class="font-serif text-4xl mb-6">Nuestra pasión por el café</h2>
        <p class="text-gray-600 mb-12">
          Cada taza nos cuenta una historia. Desde los beans seleccionados cuidadosamente hasta las bebidas meticulosamente creadas,
          nosotros nos entrenamos en crear momentos de alegría y calor para nuestra comunidad.
        </p>
        
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
          <div class="text-center">
            <div class="w-12 h-12 mx-auto mb-4 flex items-center justify-center bg-gray-100 rounded-full">
              <Coffee className="h-6 w-6" />
            </div>
            <h3 class="font-serif text-xl mb-2">Calidad Artisanal</h3>
            <p class="text-gray-600">Ingredientes de alta calidad y creaciones meticulosas</p>
          </div>
          
          <div class="text-center">
            <div class="w-12 h-12 mx-auto mb-4 flex items-center justify-center bg-gray-100 rounded-full">
              <Heart className="h-6 w-6" />
            </div>
            <h3 class="font-serif text-xl mb-2">Hecho con amor</h3>
            <p class="text-gray-600">Cada ingrediente es creado con cuidado y atención a detalles</p>
          </div>
          
          <div class="text-center">
            <div class="w-12 h-12 mx-auto mb-4 flex items-center justify-center bg-gray-100 rounded-full">
              <Star className="h-6 w-6" />
            </div>
            <h3 class="font-serif text-xl mb-2">Experiencia Única</h3>
            <p class="text-gray-600">Creando momentos memorables con cada visita</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</RestaurantLayout>
