---
import { Image } from "astro:assets";
import RestaurantLayout from "../../../layouts/RestaurantLayout.astro";
import { Facebook, Instagram } from "lucide-react";
import Menu from "./Menu";
import gordita1 from './gorditas/1.jpg';
import gordita2 from './gorditas/2.jpg';
import gordita3 from './gorditas/3.jpg';
import gordita4 from './gorditas/4.jpg';
const gallery = [
  {
    src: gordita1,
    alt: "Gordita 1",
  },
  {
    src: gordita2,
    alt: "Gordita 2",
  },
  {
    src: gordita3,
    alt: "Gordita 3",
  },
  {
    src: gordita4,
    alt: "Gordita 4", 
  }
]

const contactInfo = {
  clabe: "646015206825470152", // CLABE existente
  clabe2: "728969000034765417", // Nueva CLABE
  beneficiary2: "Yazmin Ayala", // Nuevo beneficiario
  bank2: "STP", // Nuevo banco
  delivery: "$25 - $35",
  hours: "Martes a Domingo de 08:30 a 14:00",
  address: "Calzada Union #231, Talaverna Croc",
  whatsapp: "8133906548",
};

const restaurantData = {
  name: "El Papi Rey",
  description: "Hamburguesas, Hot Dogs y Antojitos Mexicanos",
};

const schemaEnrichment = {
  address: {
    streetAddress: "Calzada Union #231",
    addressLocality: "San Nicolás de los Garza",
    addressRegion: "N.L.",
    postalCode: "66473",
    addressCountry: "MX",
  },
  telephone: "+52 81 3390 6548",
  priceRange: "$",
  servesCuisine: [
    "Hamburguesas",
    "Hot Dogs",
    "Papas a la Francesa",
    "Tortas",
    "Tacos Dorados",
    "Salchipapas",
  ],
  openingHours: "Jueves a Martes 18:30-00:30",
  acceptsReservations: false,
  paymentAccepted: ["Cash", "Bank Transfer"],
  currenciesAccepted: ["MXN"],
  delivery: {
    available: true,
    cost: "25-35",
  },
  socialMedia: {
    instagram: "https://instagram.com/Elpapi_rey_05",
    facebook: "https://www.facebook.com/profile.php?id=100090381744195",
  },
};
---

<RestaurantLayout
  title={restaurantData.name}
  description={restaurantData.name}
  schemaEnrichment={schemaEnrichment}
  textWhite={true}
  backgroundColor="bg-[#ff7223]"
>
  <Menu client:load gallery={gallery} />
  <div class="bg-[#ff7223]">
    <div class="max-w-2xl mx-auto">

    </div>
  </div>
</RestaurantLayout>
