---
import { Pencil } from "lucide-react";
import RestaurantLayout from "../../../layouts/RestaurantLayout.astro";
import nachos from "./media/nachos.png";
import hamburger from "./media/hamburger.png";
import logo from "./logo.jpg";
import tostitos from "./media/tostitos.png";
import { Image } from "astro:assets";

const restaurantData = {
    name: "Papachinis Zona de Snack",
    description: "Elotes, nachos, hot dogs hamburguesas tostadas tostitos y más...",
};

const menuSections = [
    {
        title: "Hamburguesas",
        items: [
            {
                name: "Sencilla",
                description: "Carne 100% de res, mayonesa, qcatsup, mostaza, cebolla morada lechiga jamon, queso gouda, queso amarillo y aguacate, Acompañado de una bolsa de papas con topping.",
                price: "$100"
            },
            {
                name: "Doble",
                description: "Carne 100% de res, mayonesa, qcatsup, mostaza, cebolla morada lechiga jamon, queso gouda, queso amarillo y aguacate, Acompañado de una bolsa de papas con topping.",
                price: "$140"
            }
        ],
        image: hamburger
    },
    {
        title: "Tostitos Preparados",
        items: [
            {
                name: "Sencillos",
                description: "Queso amarillo, queso blanco y jalapeños",
                price: "$50"
            },
            {
                name: "Preparados",
                description: "Queso amarillo, queso blanco, elote, mayonesa y toppings",
                price: "$50"
            }
        ],
        image: tostitos
    },
    {
        title: "NACHOS",
        items: [
            {
                name: "Nachos Sencillos",
                description: "Queso amarillo, queso blanco y jalapeños",
                price: "$70"
            },
            {
                name: "Nachos Medianos",
                description: "Con elote o chili beans, queso amarillo elote o chili, queso blanco y jalapeños",
                price: "$90"
            },
            {
                name: "Nachos Grandes",
                description: "con elote y chile toreado, chipotle, queso amarillo y jalapeños",
                price: "$130"
            }
        ],
        image: nachos
    },
    {
        title: "Duritos",
        items: [
            {
                name: "Durito",
                description: "Frijoles, repollo, cueritos, queso blanco, crema, sal, queso amarillo y elote.",
                price: "$45 $55"
            }
        ]
    },
    {
        title: "Nieves Estilo Jalisco",
        items: [
            {
                name: "Sabores",
                description: "Mango, oreo, pulparindo, picafresa, coco, mango chamoy, choco banana, vainilla azul, limon chamoy, chocolate y tamarindo.",
                price: "$30 $40 $50 $60 $70 litro $110"
            }
        ]
    },
    {
        title: "PAPAS PREPARADAS",
        items: [
            {
                name: "Papas Sencillas",
                description: "mayonesa, queso, toppings",
                price: "$50"
            },
            {
                name: "Papas Preparadas",
                description: "queso amarillo, queso blanco, elote, mayonesa y toppings",
                price: "$65"
            }
        ]
    }
];
---

<RestaurantLayout
    title={restaurantData.name}
    description={restaurantData.description}
    textWhite={true}
    image={logo.src}
    backgroundColor="bg-black"
>
    <div class="min-h-screen bg-black p-4 font-sans text-xl">
        <div class="mx-auto max-w-4xl text-white shadow-2xl space-y-10">
            <header class="w-full flex flex-col justify-center items-center">
                <Image src={logo} alt="Logo" class="w-full max-w-lg rounded-lg shadow-2xl" />
                <h1 class="text-sm font-bold tracking-wider">{restaurantData.name}</h1>
            </header>

            {menuSections.map((section) => (
                <div class="mb-8">
                    <div class="bg-yellow-500 px-3 py-1">
                        <h2 class="font-bold text-black text-2xl uppercase">{section.title}</h2>
                    </div>
                    <ul class="space-y-10 py-10">
                        {section.items.map((item) => (
                            <li class="flex justify-between">
                                <span>{item.name}<br/>
                                    <span class="text-sm text-gray-400">{item.description}</span>
                                </span>
                                <span class="font-bold">{item.price}</span>
                            </li>
                        ))}
                    </ul>
                    {section.image && (
                        <div class="flex justify-center mt-8">
                            <Image src={section.image} alt={section.title} class="w-full max-w-lg rounded-lg shadow-2xl" />
                        </div>
                    )}
                </div>
            ))}

            {/* Footer */}
            <div class="mt-12 space-y-4 text-sm">
                <div class="flex items-center gap-2">
                    <div class="bg-green-500 px-3 py-1 text-black">
                        <a class="text-2xl font-bold" href="https://wa.me/8116408521" target="_blank">
                            81 1640 8521
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</RestaurantLayout>